<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Flask Chat app</title>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
</head>
<body>
<div class="chat-app">
    <!-- Center: Chat Area -->
    <div class="chat-area">
        <div class="chat-header">General Chat</div>
        <div class="ii">
            <input type="text" id="username" placeholder="Enter your username">
            <input type="text" id="room" placeholder="Enter room id">
            <button type="submit" onclick="joinRoom()">Join Room</button>
        </div>
        
        <div class="messages" id="chat-box">
            <!-- Messages will appear here -->
        </div>
        <div class="input-area">
            <input type="text" id="msg" placeholder="Type a message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>
